:root {
  --orange: #DC623B;
  --brown: #573525;
  --white: #DAD6C7;
  --black: #000000 ;
}

.landing-cont:before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  padding: 0;
  margin: 0;
  z-index: 0;
  display: block;
  background-image: url("https://res.cloudinary.com/willblake01/image/upload/v1538510016/hotspotr/landing-background.jpg");
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.landing-grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 80px;
  width: 100%;
  height: 100%;
}

.landing-grid-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.landing-content-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  width: auto;
  height: auto;
}

.content-grid-column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}

.content-grid-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: auto;
  height: auto;
}
.content-grid-column-2 > * {
  margin: 0;
  padding: 4px;
}

.main-title {
  font-size: 6vw;
  color: var(--white);
  height: auto;
  width: auto;
}

.sub-title {
  font-size: 1.5vw;
  color: var(--white);
  height: auto;
}

.button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.button-group > * {
  margin-right: 10px;
}

.landing-grid-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.landing-grid-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.landing-social-media {
  position: absolute;
  left: 12px;
  z-index: 99;
  width: auto;
  height: auto;
  color: var(--white);
}
.landing-social-media > * {
  margin: 4px;
}

.dashboard-cont:before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  padding: 0;
  margin: 0;
  z-index: 0;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/willblake01/image/upload/v1538510014/hotspotr/dashboard-background.jpg");
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.dashboard-grid-container {
  position: relative;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
}

.dashboard-grid-row {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-height: 120px;
  background-color: var(--brown);
  opacity: 0.9;
}

.dashboard-grid-column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.column-1-footer {
  position: fixed;
  bottom: 12px;
  height: auto;
  width: auto;
}

.dashboard-social-media > * {
  margin: 4px;
}

.dashboard-grid-column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-map {
  position: relative;
  top: 11vh;
}

.column-2-footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  height: auto;
  width: auto;
}

.field {
  padding: 20px;
  background-color: var(--white);
  height: 100%;
  width: 100%;
}

.label {
  color: var(--brown);
}

.input {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  margin: 0 0 10px 0;
  height: 100%;
  width: 100%;
}

.inline-logo {
  display: none;
}

.logo-image {
  height: auto;
  width: 10vw;
  border-radius: 25px;
}

.dashboard-logo {
  height: auto;
  width: 4vw;
  border-radius: 25px;
}

.fa-github-alt {
  position: relative;
  color: var(--white);
  font-size: 18px;
  margin-right: 4px;
}

.social-icon {
  position: relative;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  height: 42px;
  width: 42px;
  background-color: var(--white);
}

.large-button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: var(--orange);
  color: var(--white);
}

.footer-block {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.footer-block > * {
  position: fixed;
  bottom: 4px;
  height: auto;
  width: auto;
  color: var(--white);
  text-decoration: none;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-link > * {
  margin: 4px;
}

.modal-content {
  height: auto;
  width: 400px;
  background-color: var(--white);
  color: var(--brown);
  border-color: var(--orange);
  border-width: 2px;
  padding: 12px;
}
.modal-content input {
  margin: 10px 0 10px 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  height: auto;
  width: auto;
}
.modal-content p {
  height: auto;
  width: auto;
}

.modal-close {
  background-color: var(--orange);
}

.submit-button {
  border: none;
  border-radius: 25px;
  background-color: var(--orange);
  color: var(--white);
}

.react-default-error-page {
  background-color: #EFEFEF;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
}

.react-default-error-page div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;
}

.react-default-error-page div.dialog > div {
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #BBB;
  border-top: #B00100 solid 4px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  padding: 7px 12% 0;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.react-default-error-page h1 {
  font-size: 100%;
  color: #730E15;
  line-height: 1.5em;
}

.react-default-error-page div.dialog > p {
  margin: 0 0 1em;
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.default-error-page {
  background-color: #EFEFEF;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
}

.default-error-page div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;
}

.default-error-page div.dialog > div {
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #BBB;
  border-top: #B00100 solid 4px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  padding: 7px 12% 0;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.default-error-page h1 {
  font-size: 100%;
  color: #730E15;
  line-height: 1.5em;
}

.default-error-page div.dialog > p {
  margin: 0 0 1em;
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.default-error-page {
  background-color: #EFEFEF;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
}

.default-error-page div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;
}

.default-error-page div.dialog > div {
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #BBB;
  border-top: #B00100 solid 4px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  padding: 7px 12% 0;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.default-error-page h1 {
  font-size: 100%;
  color: #730E15;
  line-height: 1.5em;
}

.default-error-page div.dialog > p {
  margin: 0 0 1em;
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

/*! bulma.io v0.9.2 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */
.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10.2, 10.2, 10.2, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
}
.modal-close::before, .modal-close::after {
  background-color: hsl(0, 0%, 100%);
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}
.modal-close::before {
  height: 2px;
  width: 50%;
}
.modal-close::after {
  height: 50%;
  width: 2px;
}
.modal-close:hover, .modal-close:focus {
  background-color: rgba(10.2, 10.2, 10.2, 0.3);
}
.modal-close:active {
  background-color: rgba(10.2, 10.2, 10.2, 0.4);
}
.is-small.modal-close {
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
}
.is-medium.modal-close {
  height: 24px;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}
.is-large.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}

.modal-background, .modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}
.modal.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(10.2, 10.2, 10.2, 0.86);
}

.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .modal-content,
  .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.modal-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  -ms-overflow-y: visible;
}

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.modal-card-head {
  border-bottom: 1px solid hsl(0, 0%, 86%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-card-title {
  color: hsl(0, 0%, 21%);
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.modal-card-foot {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid hsl(0, 0%, 86%);
}
.modal-card-foot .button:not(:last-child) {
  margin-right: 0.5em;
}

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: hsl(0, 0%, 100%);
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
}
html #root,
html #root > div,
body #root,
body #root > div {
  height: inherit;
  width: inherit;
}

/*# sourceMappingURL=index.css.map */
