.modal-content {
    height: auto;
    width: 400px;
    background-color: var(--white);
    color: var(--brown);
    border-color: var(--orange);
    border-width: 2px;
    padding: 12px;
    input {
        margin: 10px 0 10px 0;
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        border: 1px solid transparent;
        height: auto;
        width: auto;
    }
    p {
        height: auto;
        width: auto;
    }
}

.modal-close {
    background-color: var(--orange);
}

.submit-button {
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
}
