.dashboard-cont:before {
    content: "";
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    padding: 0;
    margin: 0;
    z-index: 0;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/willblake01/image/upload/v1538510014/hotspotr/dashboard-background.jpg");
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

// Start dashboard grid
.dashboard-grid-container {
    position: relative;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: auto 1fr;
    height: 100%;
    width: 100%;
}

// Start dashboard grid row
.dashboard-grid-row {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-height: 120px;
    background-color: var(--brown);
    opacity: 0.9;
}

// Start dashboard grid column 1
.dashboard-grid-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

// Start column 1 footer
.column-1-footer {
    position: fixed;
    bottom: 12px;
    height: auto;
    width: auto;
}

.dashboard-social-media {
    > * {
        margin: 4px;
    }
}
// End column 1 footer
// End dashboard grid column 1

// Start dashboard gird column 2
.dashboard-grid-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dashboard-map {
    position: relative;
    top: 11vh;
}

.column-2-footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: auto;
    width: auto;
}
// End dashboard grid column 2
// End dashboard grid
