.inline-logo {
    display: none;
}

.logo-image {
    height: auto;
    width: 10vw;
    border-radius: 25px;
}

.dashboard-logo {
    height: auto;
    width: 4vw;
    border-radius: 25px;
}

.fa-github-alt {
    position: relative;
    color: var(--white);
    font-size: 18px;
    margin-right: 4px;
}
