.sidebar-wrapper {
    background-color: var(--orange);
    opacity: 0.9;
    height: 100%;
    width: 100%;
}

.welcome-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
    color: var(--white);
    height: 11vh;
    width: auto;
}

.welcome-message {
    text-align: center;
    color: var(--white);
    height: auto;
    width: auto;
    > * {
        margin: 10px;
        height: auto;
        width: auto;
    }
}

.menu-space {
    padding: 20px;
    height: auto;
    color: var(--white);
}

.sidebar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    width: 100%;
    padding: 10px 20px;
    color: var(--white);
    transition: all .2s ease-in-out;
    border: solid 2px var(--brown);
    border-radius: 25px;
    margin: 4px;
}

.sidebar-link:hover {
    color: var(--brown);
    background: var(--white);
    transform: scale(1.1);
    border-radius: 25px;
    height: auto;
}

.svg-inline--fa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button {
    margin-top: 12px;
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
}

// Start Icon style
.fa-users,
.fa-building,
.fa-map,
.fa-map-marker-alt,
.fa-arrow-circle-left {
    position: relative;
    color: var(--brown);
    font-size: 25px;
    margin-right: 12px;
}
// End Icon style
