@import 'Variables';
@import 'Landing';
@import 'Dashboard';
@import 'Forms';
@import 'Logos';
@import 'SocialMedia';
@import 'LargeButton';
@import 'Footer';
@import 'AuthModal';
@import '404';
@import '422';
@import '500';
@import 'bulma';

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  #root,
  #root>div {
    height: inherit;
    width: inherit;
  }
}
